extends ../templates/base

block variables
	- var classBody = 'delivery-payment-page';
	- var classWrapper = 'delivery-payment';

block title
	title Доставка и оплата

block main
	section.breadcrumb
		.container
			ul.clearfix
				li
					a(href='./') Назад
				li Вакансии
			.breadcrumb__download
				a(href="#") Скачать каталог
					span PDF, 1.56MB
	.delivery-payment
		.container
			.delivery-payment__block.row
				.delivery-payment__left
					
					.delivery-payment__how-get
						.delivery-payment__title
							p Доставка
							span Заказы собираются на следующий рабочий день и отправляются через день после оформления.
						h6 Получить заказанный Вами товар можно двумя способами:
						ul
							li
								p
									| Курьерская доставка по 
									span Украине 
									| (стоимость от 55 грн, согласно тарифам транспортной компании)
							li
								p
									| Доставка по 
									span Украине 
									| до склада компании Новая почта (стоимость доставки - от 40 грн согласно тарифам транспортной компании)
						p
							| Мы оплатим доставку товара до удобного Вам склада перевозчика, если сумма заказа
							br
							| превышает 1000 грн.
						p
							| Наложенный платеж всегда оплачивается покупателем, стоимость расчитывается по формуле:
							br
							| 25грн + 2% от суммы перевода.
					
					.delivery-payment__how-pay
						.delivery-payment__title
							p Оплата
						h6 В интернет магазине есть два способа оплаты заказов:
						ul
							li
								p
									| 100% предоплата на карту ПриватБанка сразу при оформлении заказа через сервис безопасных платежей Liqpay либо, после того как заказ будет собран, возможно пополнение карты по номеру, который будет выслан в смс.
							li
								p
									| Оплата при получении посылки на Новой почте (Наложенный платеж всегда оплачивается покупателем, стоимость расчитывается по формуле: 25грн + 2% от суммы перевода.).
						p
							| При заказе на 1500 грн вы получаете дисконтную карту, которая будет действовать со следующего заказа.
				.delivery-payment__right
					.delivery-payment__get-card
						img(src=require('../../components/images/get-card.png'))
						p
							| Получите клуную карту при заказе от 1000 грн.
						a(href="#") Условия программы лояльности