extends ../templates/base

block variables
	- var classBody = 'news-item-page';
	- var classWrapper = 'news-item';

block title
	title Новости

block main
	.container
		section.breadcrumb
			.container
				ul.clearfix
					li
						a(href='news-list.html') Назад
					li
						a(href="#") Новости
					li Коллекция «Готовимся к холодам» уже в продаже!
				.breadcrumb__download
					a(href="#") Скачать каталог
						span PDF, 1.56MB
		.news-item
			.news-item__block
				.news-item__title
					p ТМ «СМИЛ» представляет новую коллекцию «Готовимся к праздникам»!
				.news-item__data
					p 16 февраля 2018
				.news-item__views
					p 150
				.news-item__main
					p
						| Каждая маленькая девочка мечтает стать принцессой, быть самой красивой. Пышные фатиновые юбки, футболки с оригинальными нашивками из пайеток, позволят выглядеть ребенку очень нежно и изящно. Изделия коллекции помогут приблизиться к мечте! Подробности на сайте:
						a(href="#") http://opt.smil.ua/catalog?instock=1&collection%5B%5D=679&ref=1

					p
						| Апостериори, гравитационный парадокс амбивалентно понимает под собой интеллигибельный знак. Дискретность амбивалентно транспонирует гравитационный парадокс. Созерцание непредсказуемо. Гедонизм осмысляет дедуктивный метод. Наряду с этим ощущение мира решительно контролирует непредвиденный гравитационный парадокс.
					
					.news-item__main-quote
						p
							| Наряду с этим ощущение мира решительно контролирует непредвиденный гравитационный парадокс. Надстройка нетривиальна. Апостериори, гравитационный парадокс амбивалентно понимает под собой интеллигибельный знак. Импликация, следовательно, контролирует бабувизм, открывая новые горизонты.
					p
						| Структурализм абстрактен. Дедуктивный метод решительно представляет собой бабувизм. Дискретность амбивалентно транспонирует гравитационный парадокс. Гедонизм осмысляет дедуктивный метод. Дедуктивный метод решительно представляет собой бабувизм. Аксиома силлогизма, по определению, представляет собой неоднозначный предмет деятельности.
					.news-item__img(style="background-image: url(" + require('../../components/images/news-item-img-1.jpg') + ")")
					.news-item__small-quote
						p
							| Смысл жизни, следовательно, творит данный закон внешнего мира
				.news-item__socials
					p Поделиться
					ul.clearfix
						mixin li(link, name)
							li
								a(href= link) #{name}
						+li('#', 'Вконтакте')
						+li('#', 'Facebook')
						+li('#', 'Twitter')
						+li('#', 'Одноклассники')
						+li('#', 'Google+')