extends ../templates/base

block variables
	- var classBody = 'vacancy-page';
	- var classWrapper = 'vacancy';

block title
	title Вакансии

block main
	section.breadcrumb
		.container
			ul.clearfix
				li
					a(href='./') Назад
				li Вакансии
			.breadcrumb__download
				a(href="#") Скачать каталог
					span PDF, 1.56MB
	.vacancy
		.container
			.vacancy__title
				p Вакансии
			.vacancy__block
				.vacancy__main
					.vacancy__intro
						p
							| Основой успеха предприятия ООО «ЮНЛ» является дружная команда единомышленников, которые изо дня в день творят историю бренда SMIL. Большинство сотрудников компании – родители, и именно их заботливыми руками создается одежда украинского производства  для новорожденных. Квалифицированные кадры относятся к активам ООО «ЮНЛ», мы охотно инвестируем средства в социальное обслуживание работников, обеспечение наилучших условий труда и отдыха, а также в развитие корпоративной культуры и повышение мотивации персонала.
						p
							| Первый клиент нашего предприятия — это наши сотрудники  Удовлетворенные сотрудники сделают наш сервис и продукцию качественно!
						p
							| Тесное сотрудничество с  профильными учебными заведениями позволяют нам быстро оперделить лучших выпускников и предложить им начать свою карьеру на нашем предприятии.
					.vacancy__actual
						h3 Актуальные вакансии
						#accordion.panel-group.vacancy__accordion
							mixin panelBox(className, num, name)
								.panel
									.panel-heading
										h4.panel-title
											a(data-toggle='collapse', data-parent='#accordion', href='#collapse' + num) #{name}
									div(class="panel-collapse collapse" + className, id="collapse" + num)
										.panel-body
											block
							mixin li(value)
								li #{value}
							mixin panelBody()
								p
									| Приглашаем в свою команду помощника конструктора (раскладчик лекал).
								h5 Вы наш кандидат если:
								ul
									+li('есть образование «Технолог швейного производства»;')
									+li('знаете технологию массового раскроя и пошива швейных изделий;')
									+li('свободно работаете в программах Word и Excel;')
									+li('обладаете абстрактно-логическим мышлением;')
									+li('знание программы Сапр Инвестроника  желательно.')
								h5 В Ваши обязанности будет входить:
								ul
									+li('расчет настилов согласно заказам;')
									+li('раскладка лекал в программе;')
									+li('заполнение технологических карт.')
								h5 Мы предлагаем:
								ul
									+li('обучение работы в программе Сапр Инвестроника;')
									+li('профессиональный рост;')
									+li('своевременную выплату зарплаты;')
									+li('комфортное рабочее место, дружный коллектив;')
									+li('социальный пакет.')
							+panelBox('', '1', 'Раскладчик лекал')
								+panelBody()
							+panelBox('', '2', 'Торговый представитель (Кропивницкий)')
								+panelBody()
							+panelBox('', '3', 'Торговый представитель (Николаев/Херсон)')
								+panelBody()
							+panelBox('', '4', 'Помощник закройщика')
								+panelBody()
							+panelBox('', '5', 'Швея-лаборант')
								+panelBody()
							+panelBox('', '6', 'Швея в цех')
								+panelBody()
					.vacancy__info
						.vacancy__info-block
							.vacancy__info-left
								p По интересующим вкансиям звоните:
								ul
									li
										a(href="tel:+38(067)7866545") +38 (067)786 65 45
									li
										a(href="tel:+38(067)7866545") +38 (073)129 31 03
							i или
							.vacancy__info-right
								p отправляйте свое резюме на почту:
								ul
									li
										a(href="mailto:otdel_personala@smil.ua").vacancy__info-mail otdel_personala@smil.ua
									li
										span В теме письма укажите желаемую вакансию.
						.vacancy__info-alert
							p 
								| Отправляя свое резюме, Вы даете согласие на обработку ваших личных данных ООО «ЮНЛ» в рамках действующего законодательства Украины. Мы гарантируем конфиденциальность обращений при отборе кандидатов на вакансию.
				.vacancy__right
					img(src=require("../../components/images/flag.png"))
					p
						| Для организации экскурсии, прохождения практики или обучения  на производстве звоните по номеру телефона
					a(href="tel:+38 (067)786 65 45") +38 (067)786 65 45