.wrapper {
	&--looks {
		.breadcrumb {
			li {
				&:nth-child(2) {
					&:before {
						content: '';
						position: absolute;
						right: 0px;
						top: 0px;
						bottom: 0px;
						margin: auto;
					}
					&:before {
						width: 0px;
						height: 0px;
						padding: 2px;
						border-width: 0px 1px 1px 0px;
						border-color: #585858;
						border-style: solid;
						@include addPrefix(transform, rotate(-45deg));
					}
					a {
						padding-right: 15px;
						position: relative;
						
					}
				}
				& + li + li {
					border-left: none;
					margin-left: 8px;
					padding-left: 0px;
				}
			}
		}
	}
}
.looks {
	padding-bottom: 206px;
	@media #{$mobile} {
		padding-bottom: 80px;
	}
	&__title {
		max-width: 400px;
		margin: 29px auto auto;
		p {
			font-size: 40px;
			font-weight: 200;
			line-height: 48px;
			text-align: center;
			@media #{$mobile} {
				font-size: 20px;
			}
		}
		span {
			display: block;
			font-size: 12px;
			line-height: 24px;
			margin-top: 13px;
			text-align: center;
			@media #{$mobile} {
				font-size: 10px;
				max-width: 225px;
				margin: 0 auto;
			}
		}
    }
    li.looks__item {
    	& + li + li {
			margin-top: 56px;
    	}
    }
    &__block {
    	margin-top: 64px;
    	@media #{$mobile} {
    		margin-top: 20px;
    	}
    }
    &__img {
    	min-height: 778px;
    	background-size: cover;
    	background-position: center;
    	background-repeat: no-repeat;
    	@media #{$mobile} {
    		min-height: 377px;
    	}
    	// display: block;
    }
    ul.looks__goods {
    	margin-right: -4px;
    	margin-left: -4px;
    	li {
    		padding-left: 4px;
    		padding-right: 4px;
    	}
		.looks {
			&__item {

			}
		}
    }
    &__goods {
    	// display: block;
    	&-item {
			// margin-left: 10px;
			// margin-right: 10px;
			margin-top: 7px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			background-color: #fafafa;
			// padding: 8px 0px 8px 0px;
		}
		&-img, &-info {
			display: inline-block;
			vertical-align: middle;
		}
		&-img {
			// width: 50px;
			width: 72px;
			height: 81px;
			line-height: 81px;
			text-align: center;
			img {
				vertical-align: middle;
				display: inline-block;
				max-width: 100%;
				max-height: 100%;
			}
		}
		&-info {
			// margin-left: 15px;
		}
		&-name {
			max-width: 105px;
			font-size: 8px;
			font-weight: 700;
			text-transform: uppercase;
			color: #000;
		}
		&-price {
			color: #9b9a99;
			font-size: 16px;
			margin-top: 8px;
			span {
				margin-left: 4px;
			}
		}
		&-right {
			li {
				float: left;
				width: 55px;
				height: 38px;
				line-height: 38px;
				text-align: center;
				& + li {
					border-left: 1px solid #ededed;
				}
			}
		}
		&-fav, &-cart {
			position: relative;
			a {
				vertical-align: middle;
				display: inline-block;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				position: relative;
			}
		}
		&-fav {
			a {
				background-image: url(../images/heart.png);
				width: 19px;
				height: 16px;
			}
		}
		&-cart {
			a {
				background-image: url(../images/cart.png);
				width: 21px;
				height: 17px;
			}
		}
    }
}