.pop-up.pop-up--ask#popupAsk
	.pop-up__close#closePopupAsk
	.pop-up__block
		.pop-up-title.pop-up--ask__title
			h5 Задать вопрос
		.pop-up--ask__form
			form.row
				.form-group.col-sm-6
					label(for="ask-name") Ваше имя
					input.form-control(type='text', name='ask-name', id='ask-name', required)
				.form-group.col-sm-6
					label(for="ask-theme") Тема вопроса
					select.selectpicker.custom-picker(title='Выберите тему', id="ask-theme", required)
						option Тема 1
						option Тема 2
						option Тема 3
				.form-group.col-sm-12
					label(for="ask-question") Задайте вопрос
					textarea.form-control(id='ask-question')
				button.btn.btn--send(type='submit') Отправить