.pop-up.pop-up--textile#popupTextile
	.pop-up__dialog.pop-up--textile__dialog
		.pop-up__close#closePopupTextile
		.pop-up__block
			.pop-up--textile__img(style='background-image:url(' + require('../../components/images/textile-1.jpg') + ')')
			.pop-up--textile__title
				p Велсофт
			.pop-up--textile__text
				p
					| Трикотажное полотно с мягким ворсом. Велсофт производится из тончайших полиэстеровых нитей. Это позволяет сочетать в одном материале легкость и прочность, нежность и износостойкость, мягкость и долговечность. Полотно велсофт обычно используют для пошива халатов, детских конвертов, комбинезонов, пледов и одеял.
				p
					| Изделия для новорожденных из велсофта изготавливаются на подкладке из х/б полотна. Прочность и долговечность велсофта – следствие того, что полотно обладает сверхустойчивостью к механическим воздействиям. Велсофт не дает усадки при стирке и не растягивается. Длинный, воздушный ворс, теплый и приятный на ощупь, быстро принимает температуру тела и сохраняет тепло. Стирать рекомендуется при температуре не более 30С.